@import "tailwindcss";

html,
body {
	min-height: 100%;
}

html {
	scrollbar-gutter: stable;
}

body {
	overflow-x: hidden;
	background-color: #0b0916;
	background-image: url('/asset/bg.png');
	background-position: top center;
	background-size: cover;
	background-attachment: fixed;
}
